/* Root variables */
:root {
    --brand: #4a5759;
    --action: #b0c4b1;
    --white: #ffffff;
    --base-light: #dbc1c5;
    --base-dark: #0d0711;
    --black: #111111;
    --font-default: "dyslexie", sans-serif;
    --font-feature: "dyslexie", sans-serif;
    --space-small: 8px;
    --space-medium: 16px;
    --space-large: 32px;
    --space-xl: 64px;
}


/* CSS Reset  (Base Styles) */
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "dyslexie", sans-serif;
    color: var(--black);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "dyslexie", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* ---End CSS Reset --- */

/* utility classes */
.flex {
    display: flex;
}

.padding-small {
    padding: var(--space-small);
}

.padding-medium {
    padding: var(--space-medium);
}

.padding-large {
    padding: var(--space-large);
}

.padding-xl {
    padding: var(--space-xl);
}   

/* ---End Utility Classes--- */

/* Component Classes */

.icon {
    width: var(--space-large);
}

.photo {
    width: var(--space-large)
}

.button {
    border-radius: 4px;
    background-color: #b0c4b1;
    padding: var(--space-small) var(--space-medium);
    text-decoration: none;
    color: black;
    border: none;
    box-shadow: 0 0 var(--space-medium) rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.button:hover {
    box-shadow: 0 0 var(--space-medium) rgba(0, 0, 0, 0.3),
        0 0 var(--space-large) rgba(0, 0, 0, 0.1);
}

/* ---End Component Classes--- */

/* Page Styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-small) var(--space-medium) 0;
    position: sticky;
    top: 0;
    background-color: #ffffff; /* for contrast */
    z-index: 1000; /* Keeps it above other content */
}

.logo {
    max-height: 100px;
    width: auto;
}

.photo {
    max-height: 100px;
    width: auto;
}

header nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



/* create hover that changes color and underlines. 
Underline is hidden until cursor touches then appears 
from left to right*/ 
nav a {
  color: #4a5759; 
  font-weight: 600;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;}


nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 100%;
  background-color: #b0c4b1;  
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

nav a:hover {
  color: #a26e76;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
} 

/* Add a margin around the outside of everything 
 and gaps in between our sections. */
main {
    display: flex;
    flex-direction: column;
    gap: var(--space-medium);
    justify-content: center;
    padding: var(--space-medium);
}


/* Styles for hero section */
.hero {
    background-color: var(--brand);
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    border-radius: var(--space-small);
    padding: var(--space-medium);
    gap: var(--space-small);
}

/* 2em = 200% of parent size*/
h1 {
    font-size: 2em;
    text-wrap: balance;
}


/* Styles for 4 boxes section */
.article-container {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-medium);
}

article {
    background-color: var(--base-light);
    border-radius: var(--space-medium);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--space-small);
}

article .icon {
    width: 24px;
}

article .photo {
    width: 128px;
}

article .button {
    margin-top: var(--space-medium);
}



/* Contact Section */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    .button {
        margin-top: var(--space-small);
    }
}

/*footer*/

footer {
    margin-top: var(--space-medium);
}


footer nav ul {
    display: flex;
    justify-content: center;
    gap: var(--space-medium);

}

.copyright-bar {
    background-color: var(--brand);
    color: var(--white);
    text-align: center;
    padding: var(--space-small);
    margin-top: var(--space-small);
}

/* Responsive media queries -*/
@media only screen and (min-width: 768px) {
    header nav ul {
        flex-direction: row;
        gap: var(--space-large);
        font-size: 1.2em;
    }

    h1 {
        font-size: 2.5em;
    }

    .contact {
        padding: var(--space-large);
        gap: var(--space-medium);
    }
}

@media only screen and (min-width: 1024px) {
    .hero {
        padding: var(--space-xl);
    }

    h1 {
        font-size: 3em;
    }

    .article-container {
        flex-direction: row;
    }

    .contact form {
        max-width: 50%;
    }
}